/* Default styles for all viewports */
body {
    background-color: rgb(132, 11, 65);
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: #b3b8ea;
}

h2 {
    color:blue;
}

p {
    color: white;
}

/* Style for Mobile Viewport (max-width: 600px) */
@media (max-width: 600px) {
    body {
        background-color: limegreen;
    }

    h1 {
        font-size: 24px;
        color: blue;
    }

    h2 {
        font-size: 20px;
        color:orangered;

    }

    p {
        font-size: 16px;
    }
}

/* Styles for Tablet Viewport (min-width: 601px) and (max-width: 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        background-color:skyblue;
    }
    h1 {
        font-size: 32px;
        color: darkgoldenrod;
    }

    h2 {
        font-size: 25px;
        color: green;
    }

    p {
        font-size: 18px;
    }
}

/* Styles for Desktop Viewport (min-width: 1025px) */
@media (min-width: 1025px) {
    body {
        background-color: rosybrown;
        max-width: 800px;
        margin: 0 auto;
    }

    h1 {
        font-size: 48px;
        color:antiquewhite;
    }

    h2 {
        font-size: 32px;
        color:brown;
    }

    p {
        font-size: 20px;
    }
}